.SideDrawer{
    background-color: white;
    height: 100%;
    top: 0;
    left: 0;
    position:absolute;
    width: 250px;
    z-index: 200;
    transition: ease-out 0.4s;
}

@media (min-width:500px) {
    .SideDrawer{
        display: none;
    }
}

.Close {
    transform: translateX(-100%);
}

.Open {
    transform: translateX(0);
}